<div class="row"> 
	<div class="large-12 columns clearfix"> 
		<label class="left">{{name}}</label>
		{{!--{{#link-to 'releases.edit' model class="button tiny right"}}Edit{{/link-to}}--}}
	</div> 
</div> 

<div class="row">
	<div class="large-12 columns"> 
		{{{body_html}}}	
	</div> 
</div>
